.row{
    padding: 20px;
}

div{
    background-color: #7fffd4;
    text-align: center;
}

/*estilo de la foto de perfil*/
@media (min-width: 576px){
    #fotoperfil{
        position: absolute;
        width: 13%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(78, 27, 70);
        left: 3%;
        top: 250px;
    }
}

@media (max-width: 575px){
    #fotoperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(78, 27, 70);
        left: 35%;
        top: 575px;
    }
}

@media (max-width: 420px){
    #fotoperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(78, 27, 70);
        left: 35%;
        top: 600px;
    }
}

@media (max-width: 341px){
    #fotoperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(78, 27, 70);
        left: 35%;
        top: 600px;
    }
}


/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30%;
}